.word-card {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  /* position: relative; */
  height: 25px;
}

  
.word-card-word {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
  
  .word-card-maker {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #999;
    margin: 0 0 8px 0;
  }
  
  .word-card-message {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;

    overflow-wrap: break-word;
  }
  
  .word-card:hover {
    cursor: pointer;
  }
  
  .word-card:hover .word-card-maker,
  .word-card:hover .word-card-message {
    display: block;
  }

  .word-card:hover .word-card-tooltip {
    visibility: visible;
    opacity: 1;
}

  .word-card-tooltip {
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    top: 100%;
    left: 0;
    width: 100px;
    height: 100px;
    
    z-index: 9999;
    transition: opacity 0.2s ease-in-out;
}
