h1 {
  text-align: center;
  margin: 20px 0 0 0;
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.mainArea {
  display: flex;
  justify-content: stretch;
  padding: 8px;
}

.aWord {
  background-color: #333;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  border-radius: 8px;
}

.pWord {
  background-color: #ddd;
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 8px;
}

